<ion-view title="LOGIN" id="page6">
    <ion-content padding="true" class="has-header">
        <div id="lOGIN-markdown1" style="color:#000000;text-align:center;">
            <p>
                <strong>Нська рада</strong>
            </p>

            <p>5 скликання</p>
        </div>
        <a class="button button-positive button-block"
                ng-click="$ctrl.register()">ЗАРЕЄСТРУВАТИСЬ на пленарне засідання</a>
    </ion-content>
</ion-view>