<ion-view title="Waiting to Vote" hide-back-button="true">
    <ion-content padding="true" class="has-header">
        <div>
            <p>
                <b>
                    1. Питанная при поступову реалізацію грошей з бюджету</b>


            </p>
        </div>
        <div>
            <p>
                <b>
                    ЧЕКАЄМО НА ГОЛОСУВАННЯ....</b>


            </p>
        </div>
    </ion-content>
</ion-view>