<ion-view title="Voting...." id="page10">
    <ion-content padding="true" scroll="false" class="has-header">
        <div>
            <p>
                <b>{{$ctrl.issue.title}}</b>
            </p>
        </div>
        <div style="padding: 20px 0; height: 60px">
            <p  ng-show="$ctrl.interval" style="text-align: center; font-size: 52px; font-weight: bold;">{{$ctrl.time}}</p>
        </div>
        <button class="button button-balanced button-block"
                on-touch="$ctrl.startVoting('yes')" on-release="$ctrl.stopVoting()">ЗА</button>
        <button class="button button-assertive button-block"
                on-touch="$ctrl.startVoting('no')" on-release="$ctrl.stopVoting()">ПРОТИ</button>
        <button class="button button-energized button-block"
                on-touch="$ctrl.startVoting('abstained')" on-release="$ctrl.stopVoting()">УТРИМАВСЯ</button>
    </ion-content>
</ion-view>